body {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Arial';
	font-size: 15px;
	color: #0D5472;
	text-align: center;
	background-color: #ffffff;
	background-image: url(images/bckgrnd.jpg);

}

a{
	color: #72BDE0;
	text-decoration: none;
}

img	{
	height: 100%;
	width: 100%;
}


div.container{
	background-color: #ffffff;
	height: 30%;
	width: 33%;
	padding: 1%;
	margin-top: 10%;
	float: none;
	position: relative;
	top: 25%;
	left: 34%;
    box-sizing: border-box;
	}

	div.subcontainer{
	background-color: #ffffff;
	height: 30%;
	width: 33%;
	padding: 1%;
	float: none;
	position: relative;
	top: 25%;
	left: 34%;
    box-sizing: border-box;
	}

	div.table{
	background-color: #ffffff;
	height: 30%;
	width: 40%;
	padding: 1%;
	margin-top: 2%;
	float: none;
	position: relative;
	top: 25%;
	left: 32%;
    box-sizing: border-box;
	}

div.search {
    background-color: #ffffff;
	height: 100%;
	width: 100%;
	padding-left: 100px;
	margin-top: 0;
	float: none;
	position: relative;
	top: 0;
	left: 0;
	text-align: left;
    box-sizing: border-box;
}

ul, li	{
	margin:0;
	padding:5px;
	list-style-type:none; 
  	}

button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width:120px;
    position: relative;
    padding: 5px 25px;
    border: 2px solid #ABD6EA;
    transition: .2s;
    }

button:hover {
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: #ABD6EA;
    transition: .2s;
    }

    button:focus {
    color: #ABD6EA;
    background-color: #ABD6EA;
}

input[type=text] {
    width: 60%;
    padding: 5px 15px;
    margin: 8px 8px;
    box-sizing: border-box;
    border: 1.5px solid #77C0E1;
    border-radius: 4px;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid #77C0E1;
}

table {
  font-size: 12px;
  width: 96%;
  text-align: left;
  border: 1px solid #77C0E1;
  border-collapse: collapse;
  margin: 2%;
  box-sizing: border-box;
}

table th {
  padding: 12px 17px;
}

table td {
  padding: 7px 17px;
}