<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Настройки сохранены</title>
</head>
<body>
    <div class="container">
    Настройки сохранены. <br><br><br>
    <a href="{% url 'weather:settings' %}">Назад</a><br><br>
    <a href="{% url 'weather:index' %}">На главную</a>
    </div>
</body>
</html>