<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Погода в "{{ location_name }}" сейчас</title>
</head>
<body>
<div class="container">
    <ul>
        <li>Локация: {{ location_name }}</li><br>
        <li>Дата: {{ date_of }} </li>
        <li>Минимальная температура: {{ t_min }} </li>
        <li>Максимальная температура: {{ t_max }} </li>
        <li>Атмосферное давление: {{ pressure }} </li>
        <li>{{ description }} </li>
    </ul>
    <br><br>
    <a href="{% url 'weather:index' %}">Назад</a>
</div>
</body>
</html>