<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Настройки</title>
</head>
<body>
<div class="container">
    <form action="{% url 'weather:change_api_key'  %}" method="post">
    {% csrf_token %}
        Изменить API key:<br>
        <input type="text" name="api_key">
        <button type="submit">Сохранить</button><br>
        <label>{{ error_message_api }}</label>
    </form>
    <br><br>
    <form action="{% url 'weather:search_results_for_change_settings' %}" method="post">
    {% csrf_token %}
        Изменить локацию по умолчанию:<br>
        <input type="text" name="location">
        <button type="submit">Найти</button>
    </form>
     <label>{{ error_message_location }}</label><br>
    <br>
    <a href="{% url 'weather:change_cron_settings' %}">Настройки планировщика</a>
    <br><br>
    <a href="{% url 'weather:index' %}">Назад</a>
</div>
</body>
</html>