<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <title>Главная</title>
</head>
<body>
<div class="container">
        <h2>Локация по умолчанию: {{ default_location_name }}</h2>
    <ul>
        <li><a href="{% url 'weather:get_default' %}">Получить последние данные о погоде в локации по умолчанию</a></li>
        <li><a href="{% url 'weather:show_default' %}">Просмотреть сохранённые данные о погоде в локации по умолчанию</a></li><br>
        <li>Получить последние данные о погоде в другой локации:</li>
        <form action="{% url 'weather:search_results_for_get_weather' %}" method="post">
            {% csrf_token %}
            <input type="text" name="location"><br>
            <button type="submit">Найти</button>
        </form>
        <label>{{ error_message }}</label><br>
        <li><a href="{% url 'weather:show_all' %}">Просмотреть все сохранённые данные о погоде</a></li>
        <li><a href="{% url 'weather:settings'%}">Изменить настройки</a></li>
    </ul>
</div>
</body>
</html>