<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Поиск локации:</title>
</head>
<body>
<div class="container">
    <h3>Результаты поиска:</h3>
    <label>{{ error_message }}</label>
    <div class="search">
    <form id="search" action="{% url 'weather:add_favorite_location'  %}" method="post">
        {% csrf_token %}
        {% for key, value in search_result.items %}
            <input type="radio" name="add_location" id="{{ key }}" value="{{ key }}:{{ value }}">
            <label class="search" for="{{ key }}">{{ value }}</label><br><br>
        {% endfor %}
        <br>
    </form>
    </div>
    <button form="search" type="submit">Выбрать</button><br><br>
    <a href="{% url 'weather:index' %}">Назад</a>
</div>
</body>
</html>