<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Настройки планировщика</title>
</head>
<body>
<div class="container">
    <h3>Локации, сохраненные для планировщика задач:</h3><br>
    <label>{{ error_message }}</label>
    <div class="search">
    <form id="delete" action="{% url 'weather:delete_from_cron'  %}" method="post">
        {% csrf_token %}
        {% for key, value in favorite_locations.items %}
            <input type="radio" name="favlocation" id="{{ key }}" value="{{ key }}">
            <label class="search" for="{{ key }}">{{ value }}</label><br><br>
        {% endfor %}
        <br>
    </form>
    </div>
    <button form="delete" type="submit">Удалить</button><br><br><br><br>
    <form action="{% url 'weather:search_results_for_add_favorite' %}" method="post">
    {% csrf_token %}
        Добавить новую локацию в планировщик:<br>
        <input type="text" name="location">
        <button type="submit">Найти</button>
    </form>
     <label>{{ error_message_location }}</label><br>
    <br>
    <a href="{% url 'weather:index' %}">Назад</a>
</div>
</body>
</html>