<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Сохраненные данные о погоде в "{{ default_location_name }}"</title>
</head>
<body>
<div class="table">
    <h3>Локация по умолчанию: {{ default_location_name }}</h3><br>
    <table border="1" aria-colspan="10">
        <tr>
            <th>Дата</th>
            <th>Минимальная температура</th>
            <th>Максимальная температура</th>
            <th>Атмосферное давление</th>
            <th>Описание</th>
        </tr>
        {% for row in all_info_about_default %}
            <tr>
                <td>{{ row.date_of }}</td>
                <td>{{ row.t_min }}</td>
                <td>{{ row.t_max }}</td>
                <td>{{ row.pressure }}</td>
                <td>{{ row.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'weather:index' %}">Назад</a>
</div>
</body>
</html>