<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Сохраненные данные о погоде</title>
</head>
<body>
<div class="table">
    <h3>Все сохраненные данные о погоде:</h3>
    <table border="1" aria-colspan="10">
        <tr>
            <th>Дата</th>
            <th>Локация</th>
            <th>Температура min</th>
            <th>Температура max</th>
            <th>Атмосферное давление</th>
            <th>Описание</th>
        </tr>
        {% for row in all_saved_info %}
            <tr>
                <td>{{ row.date_of }}</td>
                <td>
                    {% for r in all_locations_names %}
                        {% if row.location_key_id == r.location_key %}
                            {{ r.location_name }}
                        {% endif %}
                    {% endfor %}
                    </td>
                <td>{{ row.t_min }}</td>
                <td>{{ row.t_max }}</td>
                <td>{{ row.pressure }}</td>
                <td>{{ row.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'weather:index' %}">Назад</a>
</div>
</body>
</html>