<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weather/common.css' %}">
    <meta charset="UTF-8">
    <title>Погода в выбранных локациях</title>
</head>
<body>
<div class="table">
    <h3>Погода в выбранных локациях:</h3>
    <table border="1" aria-colspan="10">
        <tr>
            <th>Локация</th>
            <th>Температура min</th>
            <th>Температура max</th>
            <th>Атмосферное давление</th>
            <th>Описание</th>
        </tr>
        {% for row in info_about_favorite_locations %}
            <tr>
                <td>{{ row.location_name }}</td>
                <td>{{ row.t_min }}</td>
                <td>{{ row.t_max }}</td>
                <td>{{ row.pressure }}</td>
                <td>{{ row.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'weather:index' %}">Назад</a>
</div>
</body>
</html>